@model IEnumerable<NewKhumaloCraft.Models.PurchaseDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h2>This is where you can view the purchase history of the art</h2>
<h2>When more orders are made you'll be able to see which piece of art is the best seller</h2>
<p>
    <a asp-action="Create">Create New Order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artwork)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artwork)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
